# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtualenv
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
*.log
docker-compose.override.yml

# Project Specific
.env
db_data/
asterisk/asterisk-*.tar.gz
asterisk/pjproject-*.tar.bz2
docs/recommendations.md

